.landing-pg {
  .columns {
    margin: 0px;
    flex-wrap: wrap;
  }
  .column {
    margin: 0px;
    padding: 0px;
  }
  a {
    color: #363636!important;
  }
  .item-center {
    display: flex;
    justify-content: center;
  }
  .landing-header {
    width: 100%;
    height: 115px;
    background: #f9fbfd;
    display: flex;
    justify-content: center;
    align-items: center;
    .img-logo {
      max-height: 4rem;
      width: auto;
    }
  }
  .carousel-area {
    position: relative;
    width: 100%;
    height: 320px;
    background-image: url("images/parallax.jpg") ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    .label-ubis {
      margin-top: 70px;
      font-size: 3.8125rem;
      font-weight: 600;
      line-height: 1.2;
      font-family: HK Grotesk!important;
    }
    .label-version {
      font-size: 1.1rem;
      font-weight: 600;
      color: hsla(0,0%,100%,.75)!important;
      font-family: HK Grotesk!important;
    }
    .label-service {
      margin-top: 20px;
      color: hsla(0,0%,100%,.75)!important;
      font-size: 1.3125rem;
      font-weight: 400;
      font-family: HK Grotesk!important;
    }
  }
  .up-arch-svg {
    width: 200%;
    height: 45px;
    position: absolute;
    bottom: 0px;
    color: #fff;
    @media screen and (max-width: 1200px) {
      bottom: -20px;
    }
    @media screen and (max-width: 1200px) {
      bottom: -20px;
    }
    @media screen and (max-width: 700px) {
      bottom: -30px;
    }
  }
  .card-container {
    background: #fff;
    padding-bottom: 130px;
    .card-container-label {
      margin-top: 55px;
      background-color: rgba(80,102,144,.1);
      color: #506690;
      border-radius: 50rem;
      display: inline-block;
      font-size: .75em;
      font-weight: 600;
      line-height: 1;
      padding: 0.55rem 0.9rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .12em;
      font-family: HK Grotesk!important;
    }
    .card-item {
      border-radius: 4px;
      margin-top: 30px;
      width: 95%;
      background: #fff;
      height: 200px;
      padding: 1px 40px 0px 40px;
      box-shadow: 0 1.5rem 4rem rgba(22,28,45,.1);
      .icon-label {
        margin-top: 40px;
        .card-icon {
          width: 40px;
          color: #f39100;
          margin-right: 20px;
        }
        .card-icon path {
          background-color: #f39100;
        }
        .card-label {
          font-weight: 400;
          letter-spacing: -.01em;
          font-size: 2.3125rem;
        }
      }
      .card-btn {
        margin-top: 20px;
        width: 100%;
        height: 50px;
        background-color: rgba(243,145,0,.1);
        display: flex;
        justify-content: center;
        align-items: center;
        .card-btn-label {
          color: #f39100;
          font-size: 1.0625rem;
          font-weight: 600;
        }
      }
      cursor: pointer;
      transition: box-shadow .25s ease,transform .25s ease;
      &:hover {
        box-shadow: 0 1rem 2.5rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.1)!important;
        transform: translate3d(0,-3px,0);
      }
    }
  }
  .contact-container {
    position: relative;
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: #f1f4f8!important;
    .down-arch-svg {
      width: 200%;
      height: 45px;
      position: absolute;
      top: -20px;
      color: #f1f4f8;
      @media screen and (max-width: 700px) {
        top: -10px;
      }
    }
    .contact-logo {
      width: 200px;
    }
    .social-links {
      margin-top: 10px;
      display: flex;
      justify-content: flex-start;
      .social-icon {
        width: 25px;
        margin-right: 15px;
      }
    }
    .contact-main-label {
      margin-top: 20px;
      letter-spacing: .08em;
      color: #506690;
      text-transform: uppercase;
      font-weight: 600;
      font-size: .75rem;
    }
    .contact-sub-label {
      margin-top: 10px;
      font-family: HK Grotesk!important;
      text-decoration: none;
      color: inherit;
      color: #869ab8!important;
      font-size: 1.0625rem;
      font-weight: 400;
      line-height: 1.6;
    }
    .contact-sub-label.strong-color {
      color: #506690!important;
    }
    .contact-owner{
      margin-top: 15px;
      strong{
        font-family: HK Grotesk!important;
        font-weight: 700;
        color: #162e71!important;
        font-size: 1.0625rem;
      }
    }
    .contact-phone {
      color: #162e71;
      font-family: HK Grotesk!important;
      font-size: 1.0625rem;
      font-weight: 400;
      line-height: 1.6;
    }
  }
  .footer-container {
    padding: 45px 0px 45px 0px;
    background-color: #f9fbfd!important;
    .footer-logo-icon {
      width: 140px;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 1900px) {
  .container {
    max-width: 1000px!important;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    max-width: 700px!important;
  }
}

@media screen and (max-width: 800px) {
  .container {
    max-width: 500px!important;
  }
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 450px!important;
  }
}