.modal-card {
  width: $modal-card-width;
}

.modal-card-foot {
  background-color: $modal-card-foot-background-color;
}

@include mobile {
  .modal .animation-content .modal-card {
    width: $modal-card-width-mobile;
    margin: 0 auto;
  }
}

.modal-section-selector {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.section-selector-width {
  width: 25%;
  span {
    width: 100%;
    select {
      width: 100%;
    }
  }
}

.section-group-width {
  width: 70%;
}

.custom-foot {
  display: flex;
  justify-content: flex-end;
}

table tr.is-selected {
  background-color: #58585a!important;
  color: white;
}