.modal-card {
  width: $modal-card-width;
}

.modal-card-foot {
  background-color: $modal-card-foot-background-color;
}

@include mobile {
  .modal .animation-content .modal-card {
    width: $modal-card-width-mobile;
    margin: 0 auto;
  }
}

.section-template-modal {
  .modal-card-head {
    background: #759bab;
    .modal-card-title {
      color: #ffffff;
    }
  }
}

.modal-section-selector {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.section-selector-area {
  width: 35%;
  display: flex;
  flex-direction: column;
  text-align: left;
  .section-template-text {
    font-size: 15px;
    margin-bottom: 7px;
  }
  .section-selector-width {
    width: 100%;
    span {
      width: 100%;
      select {
        width: 100%;
      }
    }
  }

}

.section-group-area {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: left;
  .section-template-text {
    font-size: 15px;
    margin-bottom: 7px;
  }
  .section-group-width {
    width: 100%;
  }

}

.custom-foot {
  display: flex;
  justify-content: flex-end;
  .btn-ok {
    width: 100px;
    background: #888bf1;
    color: #ffffff;
  }
  .btn-cancel {
    width: 100px;
  }
}

table tr.is-selected {
  background-color: #dcdbdb !important;
  color: black!important;
}

.prod-detail-popup {
  position: absolute;
  top: 0px;
  left: 100%;
  border-radius: 5px;
  background: #ffffff;
  width: 655px;
  height: 122px;
  z-index: 99;
  border: solid 1px #759bab;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
  .prod-detail-text>div>textarea {
    width: 90%;
    height: 80px!important;
    min-height: 70px!important;
  }
  .prod-detail-btn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 30px;
    .btn-prod-modal {
      width: 70px;
      height: 100%;
      background: #888bf1;
      color: #ffffff;
      margin: 5px;
    }
    .btn-prod-modal-cancel {
      width: 70px;
      height: 100%;
      margin: 5px;
    }
  }
}

.prod-update-area {
  margin: 12px;
  .prod-update {
    width: 100px;
    background: #888bf1;
    margin-right: 12px;
    color: #ffffff;
  }
  .prod-update-cancel {
    width: 100px;
  }

}




